.logo {
  svg {
    height: auto;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .logo {
    svg {
      width: 3em;
    }

    .logo__link::after {
      content: 'Apelvil';
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo {
    svg {
      width: 4em;
    }

    .logo__link::after {
      content: 'Apelvil';
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo {
    svg {
      width: 5em;
    }

    .logo__link::after {
      content: 'Ваш IT Виддил';
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .logo {
    svg {
      width: 5em;
    }
  }
}
