.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: auto;
  background-color: #fff;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  text-transform: uppercase;
  font-weight: bold;
}

.header__logo {
  position: absolute;
}

.header__menu-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
  }

  .circle {
    border-radius: 50%;
    background-color: #ff9935ff;
  }
}

.header--changed {
  background-color: white;
}

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  color: black;
  opacity: 1;
  visibility: visible;
}

.nav__item {
  transition: all 0.5s ease-in-out;
  position: relative;

  &:hover {
    color: #ff9935ff;
    cursor: pointer;
  }
}

.nav--changed {
  opacity: 0;
  visibility: hidden;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .header {
    height: 80px;
    font-size: 9px;

  }

  .header__logo {
    font-size: 9px;
    top: 3em;
    left: 1.5em;
  }

  .header__menu-button {
    font-size: 9px;
    width: 6em;
    top: 3.75em;
    right: 2em;

    .circle {
      width: 1em;
      height: 1em;
    }
  }

  .nav {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header {
    height: 80px;
  }

  .header__logo {
    font-size: 10px;
    top: 2em;
    left: 1.5em;
  }

  .header__menu-button {
    font-size: 10px;
    width: 6em;
    top: 3.25em;
    right: 2em;

    .circle {
      width: 1em;
      height: 1em;
    }
  }

  .nav {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header {
    height: 80px;
    font-size: 12px;

  }

  .header__logo {
    font-size: 12px;
    top: 0.8em;
    left: 0.5em;
  }

  .header__menu-button {
    font-size: 12px;
    width: 6em;
    top: calc(50% - 8px);
    right: 1em;

    .circle {
      width: 1em;
      height: 1em;
    }
  }

  .nav {
    display: flex;
    top: calc(50% - 8px);
    left: calc(50% - 250px);
    width: 500px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .header {
    height: 80px;
    font-size: 12px;
  }

  .header__logo {
    font-size: 12px;
    top: 0.8em;
    left: 4em;
  }

  .header__menu-button {
    font-size: 12px;
    width: 6em;
    top: calc(50% - 8px);
    right: 5.5em;

    .circle {
      width: 1em;
      height: 1em;
    }
  }

  .nav {
    top: calc(50% - 8px);
    left: calc(50% - 250px);
    width: 500px;
  }
}