// MAIN
.header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 2px solid #f5f5f5;

  a {
    text-decoration: none;
    color: black;
    padding-left: 1em;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #0B5CE6;
    }
  }

  .header__wrapper {
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    svg {
      width: auto;
    }
  }

  .header__menu-button {
    svg {
      width: auto;
    }
  }
}

.header__nav {
  display: flex;
  width: auto;
  justify-content: space-between;
}


.nav__item {
  color: black;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
}


// mobile
@media (max-width: 599px) {
  .header {
    height: 50px;
  }



  .header__wrapper {
    width: 90%;
    margin-left: 5%;
  }

  .header__logo,
  .header__menu-button {
    svg {
      height: 1.25em;
      margin-top: 0.5em;
    }
  }


  .header__nav {
    display: none;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .header {
    height: 60px;
  }

  .header__wrapper {
    width: 90%;
    margin-left: 5%;
  }

  .header__logo,
  .header__menu-button {
    svg {
      height: 1.25em;
    }
  }

  .header__logo {
    margin-top: 0.5em;
  }

  .header__nav {
    display: none;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .header {
    height: 60px;
  }
}

// laptop MD
@media (min-width: 1200px) {
  .header {
    height: 70px;
  }

  .header__wrapper {
    width: 94%;
    margin-left: 3%;
  }

  .header__logo {
    svg {
      height: 1.5em;
    }
  }

  .header__nav {
    display: flex;
  }

  .header__menu-button {
    display: none;
  }
}

// laptop HD
@media (min-width: 1440px) {
  .header {
    height: 70px;
  }

  .header__wrapper {
    width: 86%;
    margin-left: 7%;
  }

  .header__logo {
    svg {
      height: 1.5em;
    }
  }

  .header__nav {
    display: flex;
  }

  .header__menu-button {
    display: none;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .header {
    height: 80px;
  }

  .header__wrapper {
    width: 62%;
    margin-left: 19%;
  }

  .header__logo {
    svg {
      height: 1.5em;
    }
  }

  .header__nav {
    display: flex;
  }

  .header__menu-button {
    display: none;
  }
}