html {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  position: relative;
}

.main {
  min-height: 100vh;
}

.turn {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1a1a1a;
  z-index: 1200;
  display: none;

  span {
    font-size: 1.5em;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
  }
}


// mobile
@media (max-width: 599px) {
  .turn {
    display: none;
  }

  .main {
    margin-top: 60px;
  }
}

// mobile-landscape
@media screen and (max-width: 1023px) and (orientation: landscape) {
  .turn {
    display: block;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .turn {
    display: none;
  }

  .main {
    margin-top: 60px;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .turn {
    display: none;
  }

  .main {
    margin-top: 70px;
  }
}

// laptop MD
@media (min-width: 1200px) {
  .turn {
    display: none;
  }

  .main {
    margin-top: 70px;
  }
}

// laptop HD
@media (min-width: 1440px) {
  .turn {
    display: none;
  }

  .main {
    margin-top: 70px;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .turn {
    display: none;
  }

  .main {
    margin-top: 80px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}